<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div class="container-fluid">
  <div class="row flex center">
    <div class="col-sm flex">
      <input #search placeholder="Search for GIFs..." (keyup)="onKey($event)">
      <div class="btn btn-primary" (click)="searchForGifs(search)">Search</div>
    </div>
  </div>
  <div class="row flex center wrap">
    <img *ngFor="let g of gifs" src="{{g.images.fixed_height.url}}">
  </div>
</div>
